/* ForgotPassword.css */
.forgot-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: mediumturquoise;
    box-shadow: 100px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .heading{
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .reset-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .reset-button:hover {
    background-color: #2c81ba;
  }
  